html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.widget {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 493px;
}
